.content {
    @include flex-center;
    min-height: 100vh;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login {
    width: 360px;
    padding: 15px 20px;
    background-color: rgba($color: $celadon-blue, $alpha: 0.8);
    border-radius: 10px;
    color: $light-blue;
    & h1 {
        text-align: center;
    }

    & > * {
        width: 100%
    }

    &__form {
        padding: 15px 0;
        margin: 10px 0;
        border-bottom: 3px solid $light-blue;
    }

    &__field {
        margin: 10px 0;
    }

    &__input-wrapper {
        @include flex-center(7px);
        margin: 10px 0;
        background-color: rgba(25, 175, 212, 0.5);
        border-radius: 15px;
    }

    &__input {
        @include input(80%,30px,$light-blue);
    }

    &__button {
        @include flex-center(10px);
        @include btn(100%,35px,15px);
        background-color: #0b5ed7;
        color: $light-blue;
        &:hover {
            background-color: #0a58ca;
        }
        &.loading::before{
            @include spin;
        }
    }

    &__social {
        margin: 10px 0;
    }

    &__button--social {
        @include flex-center;
        @include btn(90%,35px,5px);
        justify-content: space-around;
    }

}
